.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    color: red;
}

.h1_1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    color: black;
}

.h1_1_right {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    color: black;
    text-align: right;    
}


.h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(1.275rem, 3.4vw, 2.55rem);
    text-decoration: underline;
    color: black;
}

.h2_right {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(1.275rem, 3.4vw, 2.55rem);
    text-decoration: underline;
    color: black;
    text-align: right;
}


.plain {
    font-family: 'Lato', sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Adjust based on layout and content area */
    line-height: 1.6; /* Ensure comfortable readability */
    color: black;
}


.lato-30-red {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: blue;
}

.bebas-30-black {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: red;
}

/* 
.roboto-30-red
.lato-30-red
.bebas-30-black
*/