/* font */
.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    color: red;
}

.h1_1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    color: black;
}

.h1_1_right {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    color: black;
    text-align: right;    
}


.h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(1.275rem, 3.4vw, 2.55rem);
    text-decoration: underline;
    color: black;
}

.h2_right {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: clamp(1.275rem, 3.4vw, 2.55rem);
    text-decoration: underline;
    color: black;
    text-align: right;
}


.plain {
    font-family: 'Lato', sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Adjust based on layout and content area */
    line-height: 1.6; /* Ensure comfortable readability */
    color: black;
}


.lato-30-red {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: blue;
}

.bebas-30-black {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: red;
}

/* View */
#society-select, #person-select {
    width: 100%; /* Make dropdowns take up full width on mobile */
    font-size: 16px; /* Ensure they are easy to interact with */
  }
  

  select, option {
    font-size: 1rem; /* Scales with root element's font size */
    width: 100%;
    pointer-events: auto;
}

  /* Hide the no-results message initially */
  #no-results {
    display: none;
  }
  
  /* Show when no content matches the filter */
  #no-results.visible {
    display: block;
  }
  