<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{{ .Title }}</title>

  <!-- fonts and style -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  
</head>
<body>

  <!-- Debugging: Check the page kind -->
  <!-- <code>Rendering page kind: {{ .Kind }}</code> -->

  <!-- Debugging: Show which layout is being used -->
  <!-- <code>Using layout: {{ .Layout }}</code> -->

  <!-- Include the partial for society/person dropdowns and navigation links -->
  {{ partial "dropdowns.html" . }}

  <!-- Your main content will go here -->
  {{ block "main" . }}{{ end }}

</body>
</html>

